<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_tennis_ball"
        android:roundIcon="@drawable/ic_tennis_ball"
        android:label="Tennis Score"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="true" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
